Django==1.6.1
Fabric==1.8.1
South==0.8.4
django-annoying==0.7.9
django-debug-toolbar==1.0.1
django-pipeline==1.3.20
ecdsa==0.10
futures==2.1.6
gunicorn==18.0
ipython==1.1.0
paramiko==1.12.1
psycopg2==2.5.2
pycrypto==2.6.1
sqlparse==0.1.10
ssh==1.8.0
wsgiref==0.1.2
